/**
*
* app/components/AddTodo/AddTodo.styl
* Style of AddTodo component
*
**/

@import '../../style/variables.styl'
@import '../../style/mixins.styl'

.TodoList {
  width: 50%;
  margin: _margin*4 auto;
}
