{
  "plugins": [],
  "presets": [
    {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["app"]
          }
        ]
      ]
    },
    "react", "es2015"
  ]
}
