/**
*
* app/components/AddTodo/AddTodo.styl
* Style of AddTodo component
*
**/

@import '../../style/variables.styl'
@import '../../style/mixins.styl'

.Todo {
  position: relative;
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin: _margin;
  transition: .2s;
  color: transparent;

  &:after {
    position: absolute;
    center();
    content: attr(data-text);
    color: red;
    transition: .2s;
  }

  &:hover {
    &:after {
      top: (_margin/2);
    }
  }

  &_completed {

    &:after {
      text-decoration: line-through;
    }
  }
}
