/**
*
* app/components/AddTodo/AddTodo.styl
* Style of AddTodo component
*
**/

@import '../../style/variables.styl'
@import '../../style/mixins.styl'

.AddTodo {
  display: flex;
  position: relative;
  width: 30%;
  min-width: 300px;
  margin: _margin auto;

  &-input {
    width: 80%;
  }

  &-button {
    width: 20%;
    box-sizing: border-box;
    color: grey;
    border-left: 1px solid grey;
    text-align: center;
    padding: (_margin/2);
    transition: .2s;

    &:hover {
      color: white;
      background-color: grey;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -(_margin/2);
    width: 90%;
    margin-left: 5%;
    height: 1px;
    background-color: grey;
    transition: bottom .2s;
  }

  &:hover {
    &:after {
      bottom: -(_margin);
    }
  }
}
