/**
*
* app/style/fonts.styl
* Fonts using
*
**/

// @font-face {
//   font-family:'Font-name';
//   src: url(fontPath + 'Font-name.eot');
//   src: url(fontPath + 'Font-name.eot?#iefix') format('embedded-opentype'),
//     url(fontPath + 'Font-name.woff') format('woff'),
//     url(fontPath + 'Font-name.ttf') format('truetype'),
//     url(fontPath + 'Font-name.svg#Avenir-Roman') format('svg');
// }
