/**
*
* app/style/variables.styl
* Here you can declare all utils variables
*
**/


// BASE
_margin = 16px;

// FONTS
fontFamily = arial, sans-serif;

// COLORS
fontColor = #1F1E1E;
backgroundColor = #ffffff;
overlayColor = #3A3A3B;

// MEDIAQUERIES
// https://gist.github.com/chrisjlee/5832418
$mq-breakpoints = {
  tiny: 480px,
  small: 768px,
  tablet: 992px,
  laptop: 1280px,
  large: 1690px
};
